
body
{
  background-color: gray;
  font-family: sans-serif;
}

header, main, footer
{
  display: flex;
  background-color: white;
  padding: 20px 10px 20px 10px;
}

header, footer
{
  width: 100%;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

main
{
  flex-direction: column;
  justify-content: flex-start;
  max-width: 1300px;
  width: 1300px;
  margin: 20px auto 20px auto;
}

.main-spacer
{
  width: 100%;
  height: 30px;
}

#section-start
{
  width: 100%;
  display: flex;
  justify-content: center;
}

#section-option
{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: auto;
}

.option-item
{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: green;
  height: 3em;
  width: auto;
  padding: 0px 20px 0 20px; 
}

.option-description
{
  color: white;
  font-weight: bolder;
  font-size: 30px;
}

#section-display
{
  width: 100%;
  display: flex;
}

#main-displayer
{
  padding: 5px;
  width: 100%;
  height: 100%;
  background-color: lightgray;
}